<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pokedex Home</title>
    <base href=".">
    <link rel="stylesheet" th:href="@{css/style.css?v=1.0.7}">
	<script th:src="@{js/register.js?v=1.0.7}"></script>
	<script th:src="@{js/login.js?v=1.0.7}"></script>
</head>

<body>

<div class="navbar">
    <div>
        <a href="home" class="logo">Pokedex</a>
    </div>
    <div>
        <a href="#" onclick="event.preventDefault(); openRegisterModal()">Register</a>
        <a href="#" onclick="event.preventDefault(); openLoginModal()">Login</a>
     </div>
</div>

<div id="toast" class="toast hidden"></div>

<div class="welcome-box">
    <h1>Welcome to the Pokedex!</h1>
    <p>
        This is your personal Pokémon companion.  
        Here you can browse all Pokémon, view detailed stats,
        and build your own personal collection.
    </p>

    <p>Select one of the options below:</p>

	<div class="action-buttons">
	    <a href="list" class="btn">View Pokémon List</a>
	    <a href="#" class="btn" onclick="event.preventDefault(); openRegisterModal()">Register</a>
	    <a href="#" class="btn" onclick="event.preventDefault(); openLoginModal()">Login</a>
	</div>

</div>

<footer>
    © 2025 Pokedex Exercise
</footer>

<div id="registerModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeRegisterModal()">&times;</span>

        <h2>Register</h2>

        <form id="registerForm" action="api/v1/register" method="post">
            <label>Email: <span class="required">*</span></label>
            <input type="email" name="email" required>

            <label>Nickname:</label>
            <input type="text" name="nickname">

            <label>Password: <span class="required">*</span></label>
            <input type="password" name="password" required>

            <button type="submit">Register</button>
        </form>
    </div>
</div>


<div id="loginModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeLoginModal()">&times;</span>

        <h2>Login</h2>

        <form id="loginForm" action="api/v1/login" method="post">
            <label>Email:</label>
            <input type="email" name="email" required>

            <label>Password:</label>
            <input type="password" name="password" required>

            <button type="submit">Login</button>
        </form>
    </div>
</div>

</body>
</html>
