<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pokedex List</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
	<script th:src="@{js/register.js}"></script>
	<script th:src="@{js/login.js}"></script>
</head>

<body>

<div class="navbar">
    <div>
        <a href="/home" class="logo">Pokedex</a>
    </div>
    <div>
        <a href="/pokedex">Pokémon List</a>
        <a href="#" onclick="openLoginModal()">Login</a>
        <a href="#" onclick="openRegisterModal()">Register</a>
    </div>
</div>

<div class="container">
    <h2>Pokémon List</h2>

    <div th:each="p : ${pokemons}" class="pokemon-item">
        <span th:text="${p['name']['english']}">Name</span>
        <button th:onclick="'alert(\'Details for Pokémon ID: ' + ${p['id']} + '\')'">Details</button>
    </div>

</div>

<footer>
    © 2025 Pokedex Exercise
</footer>

</body>
</html>
