<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pokedex List</title>
    <link rel="stylesheet" th:href="@{css/style.css?v=1.0.9}">
	<script th:src="@{js/register.js?v=1.0.9}"></script>
	<script th:src="@{js/login.js?v=1.0.9}"></script>
	<script th:src="@{js/pokemon.js?v=1.0.9}"></script>
</head>

<body>

<div class="navbar">
    <div>
        <a href="home" class="logo">Pokedex</a>
    </div>
    <div>
        <a href="#" onclick="event.preventDefault(); openRegisterModal()">Register</a>
        <a href="#" onclick="event.preventDefault(); openLoginModal()">Login</a>
     </div>
</div>

<div id="toast" class="toast hidden"></div>

<div class="container">
    <h2>Pokémon List</h2>

    <div th:each="p : ${pokemons}" class="pokemon-item">
        Name: <span th:text="${p['name']['english']}">Name</span>
        Type: <span th:text="${p['type']}">Name</span>
        
        <button th:onclick="'event.preventDefault(); loadPokemonPage('+${p['id']}+')'">Details</button>
        <button th:onclick="'removePokemon('+${p['id']}+')'">Remove</button>
        <button th:onclick="'addPokemon('+${p['id']}+')'">Add</button>
    </div>
	<div id="paginationControls"></div>
</div>



<footer>
    © 2025 Pokedex Exercise
</footer>

</body>
</html>
