<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pokemon Details</title>
    <base href=".">
    <link rel="stylesheet" th:href="@{css/style.css?v=1.0.1}">
	<script th:src="@{js/register.js?v=1.0.1}"></script>
	<script th:src="@{js/login.js?v=1.0.1}"></script>
	<script th:src="@{js/pokemon.js?v=1.0.4}"></script>
</head>

<body>

<div class="navbar">
    <div>
        <a href="home" class="logo">Pokedex</a>
    </div>
    <div>
        <a href="#" onclick="event.preventDefault(); openRegisterModal()">Register</a>
        <a href="#" onclick="event.preventDefault(); openLoginModal()">Login</a>
     </div>
</div>

<div id="toast" class="toast hidden"></div>

<a href="list">Back to Pokémon List</a>

<div class="container">
   <div class="modal-body">
      <div class="poke-image">
        <img id="pokeImg" th:src="${pokemon['image']['thumbnail']}" alt="Pokemon image">
      </div>

      <div class="poke-info">
        <h2 id="pokemonTitle">Pokémon Name</h2>
        <p class="muted small" id="pokemonId" th:text="${pokemon['name']['english']}"></p>

        <strong >Types: </strong><p id="pokemonTypes" th:text="${pokemon['name']['english']}"></p>
        <p id="pokemonDesc" th:text="${pokemon['description']}">Short description / flavor text goes here.</p>

        <div class="poke-stats">
          <div><strong>Height:</strong> <span id="pokemonHeight" th:text="${pokemon['profile']['height']}">—</span></div>
          <div><strong>Weight:</strong> <span id="pokemonWeight" th:text="${pokemon['profile']['weight']}">—</span></div>
          <div><strong>Base XP:</strong> <span id="pokemonXp" th:text="${pokemon['profile']['gender']}">—</span></div>
        </div>

        <div class="poke-actions">
        	<button class="btn" th:onclick="'removePokemon('+${pokemon['id']}+')'">Remove</button>
        	<button class="btn" th:onclick="'addPokemon('+${pokemon['id']}+')'">Add</button>
       </div>
      </div>
    </div>
 </div>


<footer>
    © 2025 Pokedex Exercise
</footer>

</body>
</html>
